@import "tailwindcss";

@theme inline {
  /* 🦊 PALETA OFICIAL FOX REPLAY */
  --color-gold: #D4AF37;
  --color-gold-dark: #A6801E;
  --color-gold-glow: rgba(212, 175, 55, 0.1);
  --color-silver: #C0C0C2;

  /* Tons de fundo baseados no preto fosco da logo */
  --color-bg-main: #0B0B0C;
  --color-bg-card: #131316;
  --color-border-card: #222226;
}

body {
  background-color: var(--color-bg-main);
  color: #ffffff;
  font-family: var(--font-sans), sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* Efeito moderno de scrollbar combinando com a marca */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: var(--color-bg-main);
}

::-webkit-scrollbar-thumb {
  background: var(--color-border-card);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-gold);
}